@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

.font {
  font-family: 'STIX Two Text', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: aqua;
}